body::-webkit-scrollbar {
    display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#header {
  color: var(--green);
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.logo {
  position: absolute;
  margin: 0px;
}

#htmlogo {
  right: 15px;
  top: 75px;
}

#css3logo {
  right: 280px;
  top: 75px;
}

#jslogo {
  right: 147.5px;
  top: 375px;
}

h2 {
  max-width: 750px;
  color: var(--white);
  font-weight: normal;
  text-align: justify;
  position: relative;
  left: 50px;
  top: 50px;
}

ul {
  list-style-type: none;
  position: relative;
  top: 25px;
}

li {
  display: inline-block;
  padding: 25px;
}

#apache {
  right: 147.5px;
  top: 800px;
}

#gdomains {
  right: 122.5px;
  top: 975px;
}

#last {
  padding-bottom: 50px;
}
