:root {
  --left-align: 55%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#aboutme {
  color: var(--green);
  max-width: 155px;
  position: absolute;
  top: 20%;
  left: calc(var(--left-align) - 77.5px);
}

.abouttext {
  text-align: justify;
  color: var(--white);
  font-size: 20px;
}

#about1 {
  position: absolute;
  max-width: 500px;
  top: 30%;
  left: calc(var(--left-align) - 250px);
}

#start {
  color: var(--white);
  max-width: 340px;
  position: absolute;
  top: 80%;
  left: calc(var(--left-align) - 170px);
  transition: filter 0.125s, top 1s;
  cursor: default;
}

#start:hover {
  filter: brightness(50%);
}

.beginnings {
  height: 100vh;
  min-width: 100vw;
  position: absolute;
  top: 100vh;
  left: 0px;
  background-color: var(--blue);
}

div.beginnings > #header {
  color: var(--white);
  position: absolute;
  left: 25px;
}

div.beginnings > #text {
  color: var(--white);
  text-align: justify;
  max-width: 500px;
}

.next {
  height: 100vh;
  min-width: 100vw;
  position: absolute;
  left: 0px;
  top: 200vh;
  background-color: var(--green);
}
