:root {
  --left-align: 55%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#aboutme {
  color: var(--green);
  max-width: 155px;
  position: absolute;
  top: 20%;
  left: calc(var(--left-align) - 77.5px);
}

.abouttext {
  text-align: justify;
  color: var(--white);
  font-size: 20px;
}

#about1 {
  position: absolute;
  max-width: 500px;
  top: 30%;
  left: calc(var(--left-align) - 250px);
}

#start {
  color: var(--white);
  max-width: 340px;
  position: absolute;
  top: 80%;
  left: calc(var(--left-align) - 170px);
  transition: filter 0.125s, top 1s;
  cursor: default;
}

#start:hover {
  filter: brightness(50%);
}

.beginnings {
  height: 100vh;
  min-width: 100vw;
  position: absolute;
  top: 100vh;
  left: 0px;
  background-color: var(--blue);
}

#beginningheader {
  color: var(--white);
  position: absolute;
  left: 50px;
}

#beginningtext {
  color: var(--white);
  text-align: justify;
  max-width: 750px;
  position: absolute;
  top: 100px;
  left: 50px;
  font-size: 27px;
}

#rpi {
  position: absolute;
  left: calc(75% - 123px);
  top: calc(50% - 155px);
}

#begcontinue {
  color: var(--white);
  max-width: 310px;
  position: absolute;
  top: 80%;
  left: calc(75% - 155px);/*equal to center of rpi logo (70% + 123) - 1/2 width of text*/
  transition: filter 0.125s, top 1s;
  cursor: default;
}

#begcontinue:hover {
  filter: brightness(50%);
}

.computer {
  height: 100vh;
  min-width: 100vw;
  position: absolute;
  left: 0px;
  top: 200vh;
  background-color: var(--green);
}

#computerheader {
  color: var(--white);
  position: absolute;
  left: 50px;
}

#computertext {
  color: var(--white);
  text-align: justify;
  max-width: 750px;
  position: absolute;
  top: 100px;
  left: 50px;
  font-size: 27px;
}

#vscode {
  position: absolute;
  left: calc(75% - 185px);
  top: 100px;
}

#compcontinue {
  color: var(--white);
  max-width: 310px;
  position: absolute;
  top: 80%;
  left: calc(75% - 155px);/*equal to center of rpi logo (70% + 123) - 1/2 width of text*/
  transition: filter 0.125s, top 1s;
  cursor: default;
}

#compcontinue:hover {
  filter: brightness(50%);
}
