.nav {
  background-color: #ed6a66;
  width: 100%;
  height: 50px;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 5000;
}

.navlink {
  position: absolute;
  top: 10px;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

#homelink {
  left: 40%;
}

#aboutlink {
  left: 50%;
}

#projectslink {
  left: 60%;
}

.footer {
  background-color: #ed6a66;
  height: 50px;
  width: 100%;
}
