body {
  background-color: #ebc363;
  overflow: hidden;
}

#portrait {
  position: absolute;
  top: 200px;
  left: 100px;
}

#welcome, #welcome2, #welcome3 {
  margin: 0px;
  border: 0px;
  text-align: center;
  position: relative;
  left: 550px;
}

#welcome, #welcome2 {
  font-size: 100px;
  bottom: 500px;
}

#welcome3 {
  bottom: 450px;
  font-size: 35px;
}
